<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
        <netHttpBinding>
            <binding name="NetHttpBinding_IStockQuoteService">
                <webSocketSettings transportUsage="Always" />
            </binding>
            <binding name="NetHttpBinding_IStockQuoteService1">
                <webSocketSettings transportUsage="Always" />
            </binding>
        </netHttpBinding>
    </bindings>
    <client>
        <endpoint address="ws://localhost:3201/StockQuoteService.svc"
            binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IStockQuoteService"
            contract="StockQuoteServiceReference.IStockQuoteService" name="NetHttpBinding_IStockQuoteService" />
        <endpoint address="ws://localhost:3201/StockQuoteService.svc"
            binding="netHttpBinding" bindingConfiguration="NetHttpBinding_IStockQuoteService1"
            contract="QuotesServiceReference.IStockQuoteService" name="NetHttpBinding_IStockQuoteService1" />
    </client>
  </system.serviceModel>
</configuration>